{% extends 'base.html' %}

{% block css %}

  <style>
    h1 {
    color : blue
    }
  </style>
  {% endblock %}


{% block welcome %}
  <h1>You are in the products page</h1>
  {% endblock %}

{% block content %}

<div class="container py-4">
    <div class="d-flex justify-content-between mb-3">
      <h3>Products</h3>
      <button class="btn btn-success btn-sm">Add Product</button>
    </div>

    <table class="table table-bordered bg-white">
      <thead>
        <tr>
          <th>ID</th>
          <th>Product</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
      {% for prod in products %}
        <tr>
          <td>{{ prod.id }}</td>
          <td>{{ prod.product }} </td>
          <td>{{ prod.price }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}